@import 'common/base';
header {
  background: #0097A7;
  color: #FFF;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.container {
  width: 800px;
  height: auto;
  margin: 1rem auto;
  position: relative;
  img {
    transition: 1s;
    opacity: 0;
    height: 500px;
    width: 800px;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .show {
    opacity: 1;
    z-index: 1;
  }
  .image-wrapper {
    height: 500px;
  }
}

.right {
  margin: auto 1rem;
  font-size: 40px;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: red;
  background: #CCC;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  margin: auto 1rem;
  font-size: 40px;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #CCC;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
